@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    transition: background-color 0.4s ease-in-out;
    position: relative;
}

html {
    height: 100%;
}

.dark {
    background-color: #282932;
}

.bright {
    background-color: #ECF0F3;
}

.chooseLanAbsolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.themeSwitcher {
    position: absolute;
    border: none;
    right: 20px;
    width: 49px;
    height: 49px;
    bottom: 28px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.dark .themeSwitcher {
    background-color: rgba(34, 35, 43, 0.5);
    box-shadow: inset 6px 6px 7px rgba(31, 32, 39, 0.96), inset -6px -6px 7px rgba(45, 46, 57, 0.62);
    background-image: url("../images/ThemesSwitcher/moonTheme.svg");
    opacity: 0.5;
}

.bright .themeSwitcher {
    background-color: rgba(236, 240, 243, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.94);
    background-image: url("../images/ThemesSwitcher/sunTheme.svg");
    opacity: 0.5;
}

.themeSwitcher:hover {
    opacity: 1;
}

.container {
    /* position: relative; */
    margin: 0 auto;
    max-width: 1440px;
    min-width: 690px;
    height: 100%;
}

.chooseLan {
    max-width: 400px;
    margin-bottom: 0;
}

.typingLan {
    max-width: 400px;
    margin: 0 auto;
}

.chooseLan__title {
    font-family: RobotoLight;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    transition: 0.4s all ease-in-out;
}

.dark .chooseLan__title {
    color: #ffffff;
}

.bright .chooseLan__title {
    color: #747474;
}

.languageChooseFlex {
    display: flex;
    justify-content: space-around;
    max-width: 180px;
    max-height: 90px;
    margin-top: 30px;
    margin: 20px auto;
}

.languageChooseFlex__item {
    width: 65px;
    height: 60px;
    border-radius: 10px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s all ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-sizing: border-box;
}

.dark .languageChooseFlex__item_active {
    background-color: #31343B;
    border: 3px solid #c7c7c7;
    box-shadow: 4px 4px 10px rgba(199, 199, 199, 0.4),
            -4px -4px 11px rgba(199, 199, 199, 0.4),
            inset -6px -6px 5px #383946,
            inset 5px 5px 10px #18191E;
}

.bright .languageChooseFlex__item_active {
    border: 3px solid #13A9E9;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(19, 169, 233, 0.4),
            -4px -4px 11px rgba(19, 169, 233, 0.4),
            inset -2px -2px 5px rgba(176, 197, 250, 0.65),
            inset 2px 2px 5px #505D7E;
    background-color:#ebebeb;
}

.dark .languageChooseFlex__item {
    background-color:#31343C;
}

.bright .languageChooseFlex__item {
    background-color:#ebebeb;
}

.languageChooseFlex__item-en {
    background-image: url("../images/lanChoosing/ENLan.svg");
}

.languageChooseFlex__item-ru {
    background-image: url("../images/lanChoosing/RULan.svg");
}

.dark .languageChooseFlex__item:hover {
    background-color: #31343B;
    border: 3px solid #c7c7c7;
    box-shadow: 4px 4px 10px rgba(199, 199, 199, 0.4),
            -4px -4px 11px rgba(199, 199, 199, 0.4),
            inset -6px -6px 5px #383946,
            inset 5px 5px 10px #18191E;
}

.bright .languageChooseFlex__item:hover {
    border: 3px solid #13A9E9;
    box-shadow: 4px 4px 10px rgba(19, 169, 233, 0.4),
            -4px -4px 11px rgba(19, 169, 233, 0.4),
            inset -2px -2px 5px rgba(176, 197, 250, 0.65),
            inset 2px 2px 5px #505D7E;
}

.chooseLanAbsolute__confirm {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    z-index: 0;
    width: 170px;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: 0.4s all ease-in-out;
}

.chooseLanAbsolute__confirm:hover .chooseLanAbsolute__confirm-liquid {
    top: -230%;
}

.chooseLanAbsolute__confirm:hover {
    border-radius: 10px;
}

.chooseLanAbsolute__confirm-span {
    font-family: RobotoLight;
    font-weight: 600;
    top: 0;
    z-index: 1;
    
    text-align: center;
    width: 170px;
    
    /* width: 100px;
    height: 200px; */
    vertical-align: text-top;
    transition: 0.4s all ease-in-out;
}

.dark .chooseLanAbsolute__confirm-span {
    color: #ffffff;
}

.bright .chooseLanAbsolute__confirm-span {
    color: #7a7d81;
    font-weight: 500;
    font-family: consolas;
    letter-spacing: 0.6px;
}

.chooseLanAbsolute__confirm-liquid {
    position: absolute;
    top: -140%;
    left: 0;
    z-index: -1;    
    width: 170px;
    height: 170px;
    transition: 0.4s all ease-in-out;
}

.dark .chooseLanAbsolute__confirm-liquid {
    box-shadow: inset 0px 0px 50px #00000080;
    background-color:#4973ff;
}

.bright .chooseLanAbsolute__confirm-liquid {
    box-shadow: inset 0px 0px 50px #ecf0f359;
    background-color:#13A9E9;
}

.chooseLanAbsolute__confirm-liquid::before, .chooseLanAbsolute__confirm-liquid::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 200%;
    height: 200%;
    transform: translate(-25%, -75%);
    transition: 0.4s all ease-in-out;
}

.dark .chooseLanAbsolute__confirm-liquid::before {
    border-radius: 47%;
    background-color:#282932;
    animation: chooseLanAbsolute__confirmLiquidAnimation 7s infinite linear;
}

.dark .chooseLanAbsolute__confirm-liquid::after {
    border-radius: 40%;
    background-color:#2829325e;
    animation: chooseLanAbsolute__confirmLiquidAnimation 7s infinite linear;    
}


.dark .chooseLanAbsolute__confirm {
    background-color: #31343C;
    color: #ffffff;
}

.bright .chooseLanAbsolute__confirm-liquid::before {
    border-radius: 47%;
    background-color: #ECF0F3;
    animation: chooseLanAbsolute__confirmLiquidAnimation 7s infinite linear;
}

.bright .chooseLanAbsolute__confirm-liquid::after {
    border-radius: 40%;
    background-color:#ECF0F35e;
    animation: chooseLanAbsolute__confirmLiquidAnimation 7s infinite linear;    
}


.bright .chooseLanAbsolute__confirm {
    background-color: #ECF0F3;
    color: #747474;
}

.bright .chooseLanAbsolute__confirm {
    background-color: #ebebeb;
    color: #747474;
}

@keyframes chooseLanAbsolute__confirmLiquidAnimation {
    0% {
        transform: translate(-25%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-25%, -75%) rotate(360deg);
    }
}