@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf);
}
:root {
    --darkMainColor: #282932;
    --darkTextColor: #e9e9e9;
    --darkGrayColor: rgba(160, 160, 160, 0.979);
}

body {
    background-color: var(--darkMainColor);
}

/* language modal window START*/
.language_modal {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    max-height: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 25px;
}

.dark .language_modal {
    background-color: var(--darkMainColor);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35), -2px -2px 4px rgba(255, 255, 255, 0.04);
}
/* language modal window END*/

/* language inner modal window START*/
.language_modal .language {
    cursor: pointer;
    width: 55%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.language_modal .language:hover + .languageList_modal {
    pointer-events: all;
    opacity: 1;
}

.dark .language_modal .language {
    background-color: var(--darkMainColor);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.22), -2px -2px 4px rgba(255, 255, 255, 0.05);
}

.language_modal .language img {
    height: 50%;
}

.language_modal .language h4 {
    font-family: RobotoLight;
    font-size: 18px;
}

.dark .language_modal .language h4 {
    color: var(--darkTextColor);
}
/* language inner modal window END*/

/* language_modal confirm button START*/
.language_modal a {
    display: block;
    position: relative;
    width: 40%;
    height: 50px;
    border: none;
    font-family: RobotoLight;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: .4s border ease-in-out;
}

.dark .language_modal a:hover {
    border: 1px solid var(--darkGrayColor);
}

.dark .language_modal a {
    border-bottom: 1px solid var(--darkGrayColor);
}

.language_modal a:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.language_modal a:hover::before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.language_modal a::after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    content: attr(data-back);
    line-height: 50px;
    text-align: center;
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 5px;
}

.language_modal a::before {
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
    position: relative;
    transform: translateY(0) rotateX(0);
    border-radius: 5px;
    content: attr(data-front);
}

.dark .language_modal a::before {
    background-color: var(--darkMainColor);
    
    color: var(--darkTextColor);
}

.dark .language_modal a::after {
    background-color: #383a46;
    color: var(--darkTextColor);
}

/* language_modal confirm button END*/

/* languageList_modal START */
.language_modal .languageList_modal {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 200px;
    top: 0;
    transition: .2s opacity ease-in-out;
}

.language_modal .languageList_modal:hover {
    pointer-events: all;
    opacity: 1;
}

.language_modal .languageList_modal ul {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.language_modal .languageList_modal li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
}

.language_modal .languageList_modal li::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    left: 0;
    height: 100%;    
    transition: .2s width ease-in-out;
}

.language_modal .languageList_modal li:hover::after {
    width: 100%;
}

.dark .language_modal .languageList_modal li::after{
    background-color: rgba(255, 255, 255, 0.055);
}

.languageList_modal h4 {
    font-family: RobotoLight;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.languageList_modal img {
    width: 30px;
}

.dark .language_modal .languageList_modal {
    background-color: var(--darkMainColor);
}

.dark .language_modal .languageList_modal li {
    border-bottom:rgba(160, 160, 160, 0.979) 2px solid;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.35);
}

.dark .language_modal .languageList_modal li:first-child {
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.35);
}

.dark .language_modal .languageList_modal li:last-of-type {
    border-bottom: none;
}

.dark .languageList_modal h4 {
    color: var(--darkTextColor);
}
/* languageList_modal END */