* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.chooseLan {
    position: absolute;
    background-color: #282932;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35), -2px -2px 4px rgba(255, 255, 255, 0.04);
    border-radius: 25px;
    width: 40%;
    height: 230px;
    margin: 0 auto;
    margin-top: 25vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.chooseLan h4 {
    font-size: 15px;
    font-family: RobotoLight;
    text-align: center;
    margin-top: 10%; /* margin */
    color: white;
}

.chooseLanFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.chooseLanFlex__item {
    margin-top: 10%;  /* margin */
    width: 55px;
    height: 55px;
    background-color: #31343C;
    border-radius: 10px;
    border: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.25s transform ease-out;
    cursor: pointer;
}

.chooseLanFlex__item:hover {
    transform: translateY(-5px);
    border: 3px solid #C7C7C7;
}

.chooseLan__confirm {
    display: block;
    opacity: 1;
    outline: 0;
    position: relative;
    font-family: RobotoLight;
    font-size: 15px;
    border: none;
    margin: 0 auto;
    margin-top: 7%;
    width: 150px;
    height: 35px;
    background-color: #282932; 
    color: white;
    cursor: pointer;
}

.chooseLan__confirm:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.chooseLan__confirm:hover::before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.chooseLan__confirm::after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* color: #323237; */
    display: block;
    transition: 0.5s;
    position: absolute;
    background-color:#51525B;
    content: attr(data-back);
    line-height: 35px;
    text-align: center;
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 5px;
}

.chooseLan__confirm::before {
    top: 0;
    left: 0;
    opacity: 1;
    /* color: #adadaf; */
    width: 100%;
    height: 100%;
    display: block;
    line-height: 35px;
    text-align: center;
    transition: 0.5s;
    position: relative;
    background-color: #2E2F38;
    /* background: #323237; */
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border-radius: 5px;
}