.mainSectionContainer__keyboard {
    // width: 70%;
    min-width: 440px;
    height: 100%;
    // border: 2px solid black;
}

.keyboardSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    &__progressBar {
        position: absolute;
        left: 0;
        width: 0%;
        height: 10px;
        transition: 0.4s all ease-in-out;
        border-radius: 20px;
        transform: translate(30px, -250%);
    }
    &__showingText {
        font-size: 0;
        width: 95%;
        // padding: 4px;
        // padding-left: 20px;
        // padding-right: 20px;
        padding: 14px 20px;
        text-align: left;
        /* line-height: 1.5; */
        line-height: 20px;
        // max-height: 55px;
        // min-height: 55px;
       
        border-radius: 25px;
        transition: 0.4s all ease-in-out;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
        // text-indent: 0px;
        span {
            font-family: 'JetBrains Mono', monospace;
            font-weight: 500;
            font-size: 18px;
        }
        &__activeWord {
            font-size: 0;
        }
        .misTyping {
            font-size: 0;
        }
        &__written {
            font-size: 0;
        }
        .wrongCh {
            font-size: 18px;
            color: red;
        }
        .rightCh {
            color: green;
            font-size: 18px;
        }
    }
    &__writeText {
        // display: inline-block;
        // display: grid;
        // grid-template-rows: auto;
        // grid-template-columns: 100px 100%;
        // grid-auto-columns: minmax(0px, auto);

        // box-sizing: border-box;
        // flex-wrap: nowrap;
        // text-align: center;
        // justify-content: flex-start;
        // margin-left: 19px;
        // padding-left: 19px;
        // padding-right: 19px;
        padding: 15px 19px;
        // vertical-align: center;
        // line-height: 50px;
        width: 60%;
        // max-height: 55px;
        // min-height: 55px;
        text-overflow: hidden;
        white-space: wrap;
        margin-top: 20px;
        border-radius: 25px;
        transition: 0.4s background-color ease-in-out;
        &__input {
            // display: block;
            width: 100%;
            height: 100%;
            min-width: 200px;
            min-height: 25px;
            max-height: 300px;
            max-width: 100%;
            // display: block;
            // padding: 0;
            // margin: 0;
            font-family: 'JetBrains Mono', monospace;
            font-weight: 500;
            font-size: 18px;
            
            // width: auto;
            // height: 100%;
            border: none;
            // border-radius: 25px;
            outline: none;
            transition: 0.4s color ease-in-out;
            background: transparent;
        }
        // &__dontTouch {
        //     // display: none;
        //     // margin-right: 10px;
        //     // width: auto;
        //     height: 100%;
        //     font-size: 18px;
        //     font-family: 'JetBrains Mono', monospace;
        //     font-weight: 500;
        // }
    } //__writeText
    &__keyboard {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: 0.4s opacity ease-in-out;
        @media (max-width: $breakpoint768) {
            // display: none;
        }
        &__Hands {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            transition: 0.4s opacity ease-in-out;
            opacity: 0;
        }
        &__Hand {
            // width: 150px;
            // height: 150px;
            // background-size: 70%;
            width: 120px;
            height: 120px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &__leftHand {
            transform: rotateY(180deg);
            &__finger {
                border-radius: 50%;
                width: 16px;
                height: 16px;
                opacity: 0;
                transition: 0.1s all ease-in-out;
            }
            &__Lpinkie {
                transform: translate(91px,52px);
            }
            &__Lring {
                transform: translate(97px,9px);
            }
            &__Lmiddle {
                transform: translate(91px,-24px);
            }
            &__Lindex {
                transform: translate(76px,-48px);
            }
            &__Lthumb {
                transform: translate(32px,-42px);
            }
        }
        &__rightHand {
            &__finger {
                border-radius: 50%;
                width: 16px;
                height: 16px;
                opacity: 0;
                transition: 0.1s all ease-in-out;
                // background-color: cyan;
            }
            &__Rpinkie {
                transform: translate(91px,52px);
            }
            &__Rring {
                transform: translate(97px,9px);
            }
            &__Rmiddle {
                transform: translate(91px,-24px);
            }
            &__Rindex {
                transform: translate(76px,-48px);
            }
            &__Rthumb {
                transform: translate(32px,-42px);
            }
        }
        &__keyboard {
            // @media (max-width: $breakpoint1107) {
            //     width: 540px;
            //     height: 185px;
            //     font-size: 11px;
            // }
            // @media (max-width: $breakpoint1107) {
            //     width: 600px;
            //     height: 200px;
            //     font-size: 11px;
            // }
            @media (max-width: $breakpoint792) {
                width: 540px;
                height: 185px;
                row-gap: 6px;
                font-size: 11px;
            }
            @media (max-width: $breakpoint600) {
                width: 420px;
                height: 145px;
                row-gap: 5px;
                font-size: 9px;
            }
            width: 750px;
            height: 250px;
            // width: 500px;
            // height: 100px;
        
            border-radius: 15px;
            padding: 10px;
            padding-top: 10px;
            font-family: RobotoLight;
            font-size: 15px;
            transition: 0.4s ease-in-out;



            display: grid;
            grid-template-rows: repeat(5, 1fr);
            row-gap: 10px;
            
            transition-property: all;

            &_row {
                width: 100%;
                display: grid;
                @media (max-width: $breakpoint1107) {
                    column-gap: 5px;   
                }
                column-gap: 6px;
                &:nth-child(1) {
                    grid-template-columns: 1.6fr repeat(12, 1fr) 3fr;
                }
                &:nth-child(2) {
                    grid-template-columns: 2.5fr repeat(12, 1fr) 2.2fr;
                }
                &:nth-child(3) {
                    grid-template-columns: 2.9fr repeat(11, 1fr) 2.7fr;
                }
                &:nth-child(4) {
                    grid-template-columns: 4fr repeat(10, 1fr) 4fr;
                }
                &:nth-child(5) {
                    grid-template-columns: 1fr 1fr 1fr 9fr repeat(5, 1fr);
                }
                // display: flex;
                // justify-content: space-around;
                // width: 100%;
                // height: 25px;
                div {
                    // height: 100%;
                    border-radius: 5px;
                    text-align: center;
                    @media (max-width: $breakpoint792) {
                        line-height: 26px;
                        border-radius: 4px;
                    }
                    @media (max-width: $breakpoint600) {
                        line-height: 18px;
                    }
                    line-height: 37px;
                    transition: 0.4s all ease-in-out;
                }
            }
            // &__singleKey {
                // width: 25px;
                // margin: 0px 4px;
            // }

            //display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            
            // transition-property: all;

            // &_row {
            //     display: flex;
            //     justify-content: space-around;
            //     width: 100%;
            //     height: 25px;
            //     div {
            //         height: 100%;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 25px;
            //         transition: 0.4s all ease-in-out;
            //     }
            // }
            // &__singleKey {
            //     width: 25px;
            //     margin: 0px 4px;
            // }

        } //__keyboard
    } //__keyboard
}

// .keyboardSection__keyboard__keyboard_row .keyboardSection__keyboard__keyboard__specialKey {
//     flex-grow: 1;
//     // margin: 0px 4px;
// }

// .keyboardSection__keyboard__keyboard_row .keyboardSection__keyboard__keyboard__EnterKey {
//     flex-grow: 2;
// }

// .keyboardSection__keyboard__keyboard_row .keyboardSection__keyboard__keyboard__backspaceKey {
//     flex-grow: 0.7;
// }

// #keyCode_001 {
//     flex-grow: 1.2;
// }

/*
.keyboardSection__keyboard__keyboard__backspaceKey {
    width: 52px;
}

.keyboardSection__keyboard__keyboard__TabKey {
    width: 38px;
}

.keyboardSection__keyboard__keyboard__ReverseSlashKey {
    width: 38px;
}

.keyboardSection__keyboard__keyboard__EnterKey {
    width: 50px;
}

.keyboardSection__keyboard__keyboard__CapsKey {
    width: 50px;
}

.keyboardSection__keyboard__keyboard__ShiftKey {
    width: 65px;
}

.keyboardSection__keyboard__keyboard__spaceKey {
    width: 190px;
} */