.mainSectionContainer__keyboard {
    width: 70%;
    min-width: 440px;
    height: 100%;
    border: 2px solid black;
}

.keyboardSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    &__showingText {
        font-family: 'JetBrains Mono', monospace;
        font-weight: 500;
        width: 95%;
        // padding: 4px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        /* line-height: 1.5; */
        line-height: 54px;
        max-height: 55px;
        min-height: 55px;
        font-size: 18px;
        border-radius: 25px;
        transition: 0.4s all ease-in-out;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-indent: 0px;
    }
    &__writeText {
        text-align: center;
        vertical-align: center;
        line-height: 50px;
        width: 95%;
        min-height: 50px;
        margin-top: 20px;
        border-radius: 25px;
        transition: 0.4s all ease-in-out;
        &__input {
            display: inline-block;
            font-family: 'JetBrains Mono', monospace;
            font-weight: 500;
            font-size: 18px;
            width: 95%;
            height: 100%;
            border: none;
            border-radius: 25px;
            outline: none;
            transition: 0.4s all ease-in-out;
            background: transparent;
        }
    } //__writeText
    &__keyboard {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width: $breakpoint768) {
            // display: none;
        }
        &__Hands {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            transition: 0.4s opacity ease-in-out;
            opacity: 0;
        }
        &__Hand {
            width: 150px;
            height: 100%;
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &__leftHand {
            transform: rotateY(180deg);
            &__finger {
                border-radius: 50%;
                width: 9px;
                height: 9px;
                opacity: 0;
                transition: 0.1s all ease-in-out;
            }
            &__Lpinkie {
                transform: translate(105px, 85px);
            }
            &__Lring {
                transform: translate(111px, 52px);
            }
            &__Lmiddle {
                transform: translate(105px, 30px);
            }
            &__Lindex {
                transform: translate(92px, 15px);
            }
            &__Lthumb {
                transform: translate(55px, 25px);
            }
        }
        &__rightHand {
            &__finger {
                border-radius: 50%;
                width: 9px;
                height: 9px;
                opacity: 0;
                transition: 0.1s all ease-in-out;
            }
            &__Rpinkie {
                transform: translate(105px, 85px);
            }
            &__Rring {
                transform: translate(111px, 52px);
            }
            &__Rmiddle {
                transform: translate(105px, 30px);
            }
            &__Rindex {
                transform: translate(92px, 15px);
            }
            &__Rthumb {
                transform: translate(55px, 25px);
            }
        }
        &__keyboard {
            @media (max-width: $breakpoint1107) {
                width: 540px;
                height: 185px;
                font-size: 11px;
            }
            @media (max-width: $breakpoint792) {
                width: 400px;
                height: 140px;
                row-gap: 6px;
                font-size: 9px;
            }
            width: 750px;
            height: 250px;
            // width: 500px;
            // height: 100px;
        
            border-radius: 15px;
            padding: 10px;
            padding-top: 10px;
            font-family: RobotoLight;
            font-size: 15px;
            transition: 0.4s ease-in-out;



            display: grid;
            grid-template-rows: repeat(5, 1fr);
            row-gap: 10px;
            
            transition-property: all;

            &_row {
                width: 100%;
                display: grid;
                @media (max-width: $breakpoint1107) {
                    column-gap: 5px;   
                }
                column-gap: 6px;
                &:nth-child(1) {
                    grid-template-columns: 1.6fr repeat(12, 1fr) 3fr;
                }
                &:nth-child(2) {
                    grid-template-columns: 2.5fr repeat(12, 1fr) 2.2fr;
                }
                &:nth-child(3) {
                    grid-template-columns: 2.9fr repeat(11, 1fr) 2.7fr;
                }
                &:nth-child(4) {
                    grid-template-columns: 4fr repeat(10, 1fr) 4fr;
                }
                &:nth-child(5) {
                    grid-template-columns: 1fr 1fr 1fr 9fr repeat(5, 1fr);
                }
                // display: flex;
                // justify-content: space-around;
                // width: 100%;
                // height: 25px;
                div {
                    // height: 100%;
                    border-radius: 5px;
                    text-align: center;
                    @media (max-width: $breakpoint1107) {
                        line-height: 24px;
                    }
                    @media (max-width: $breakpoint792) {
                        line-height: 17px;
                        border-radius: 2px;
                    }
                    line-height: 37px;
                    transition: 0.4s all ease-in-out;
                }
            }
            &__singleKey {
                // width: 25px;
                // margin: 0px 4px;
            }

            //display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            
            // transition-property: all;

            // &_row {
            //     display: flex;
            //     justify-content: space-around;
            //     width: 100%;
            //     height: 25px;
            //     div {
            //         height: 100%;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 25px;
            //         transition: 0.4s all ease-in-out;
            //     }
            // }
            // &__singleKey {
            //     width: 25px;
            //     margin: 0px 4px;
            // }

        } //__keyboard
    } //__keyboard
}

// .keyboardSection__keyboard__keyboard_row .keyboardSection__keyboard__keyboard__specialKey {
//     flex-grow: 1;
//     // margin: 0px 4px;
// }

// .keyboardSection__keyboard__keyboard_row .keyboardSection__keyboard__keyboard__EnterKey {
//     flex-grow: 2;
// }

// .keyboardSection__keyboard__keyboard_row .keyboardSection__keyboard__keyboard__backspaceKey {
//     flex-grow: 0.7;
// }

// #keyCode_001 {
//     flex-grow: 1.2;
// }

/*
.keyboardSection__keyboard__keyboard__backspaceKey {
    width: 52px;
}

.keyboardSection__keyboard__keyboard__TabKey {
    width: 38px;
}

.keyboardSection__keyboard__keyboard__ReverseSlashKey {
    width: 38px;
}

.keyboardSection__keyboard__keyboard__EnterKey {
    width: 50px;
}

.keyboardSection__keyboard__keyboard__CapsKey {
    width: 50px;
}

.keyboardSection__keyboard__keyboard__ShiftKey {
    width: 65px;
}

.keyboardSection__keyboard__keyboard__spaceKey {
    width: 190px;
} */