/*#727375  dark theme less*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    transition: background-color 0.4s ease-in-out;
    position: relative;
}

html {
    height: 100%;
}

.dark {
    background-color: #282932;
}

.bright {
    background-color: #ECF0F3;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    // min-width: 690px;
    height: 100%;
}


/* selection start */
.dark *::selection {
    color: rgb(185, 171, 87); 
}

.bright *::selection {
    color: rgb(108, 185, 179);
}
/* selection end */


.mainSectionContainer {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

.mainSectionContainer__mainSectionFlex {
    // display: flex;
    // justify-content: space-evenly;
    // align-items: flex-start;
    // align-content: flex-start;
    display: grid;
    grid-template-columns: 2.5fr 10fr 0.7fr;
    @media (max-width: $breakpoint1107) {
        grid-template-columns: 10fr 0.7fr;
    }
    // grid-template-columns: 10fr 0.7fr;
    height: 70%;
    min-height: 350px;
    width: 100%;
    // min-width: 690px;
    flex-wrap: nowrap;
    // overflow-x: hidden;
    // border: 2px solid black;
}

/*
.mainSectionContainer__settings__container__item__dropList__button select {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    transition: 0.4s background-color ease-in-out;
}

.dark .mainSectionContainer__settings__container__item__dropList__button select {
    background-color: #282932;
    border: 1px solid #494850;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.19), inset -1px -1px 5px rgba(255, 255, 255, 0.06);
    color: rgb(210, 210, 210);
}

 .mainSectionContainer__settings__container__item__dropList_keyboardLang select {
    background-image: url("../images/lanChoosing/RULan.svg");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

.dark .mainSectionContainer__settings__container__item__dropList__button option {
    background-color: #282932;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19), -1px -1px 5px rgba(255, 255, 255, 0.06);
}

.dark .mainSectionContainer__settings__container__item__dropList__button select:focus {
    background-color: #282932;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19), -1px -1px 5px rgba(255, 255, 255, 0.06);
} */