/* THEME SWITCHER START */
.themeSwitcher {
    position: absolute;
    border: none;
    right: 20px;
    bottom: 28px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.dark .themeSwitcher {
    background-color: rgba(34, 35, 43, 0.5);
    box-shadow: inset 6px 6px 7px rgba(31, 32, 39, 0.96), inset -6px -6px 7px rgba(45, 46, 57, 0.62);
    background-image: url("../images/ThemesSwitcher/moonTheme.svg");
    opacity: 0.5;
}

.bright .themeSwitcher {
    background-color: rgba(236, 240, 243, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.94);
    background-image: url("../images/ThemesSwitcher/sunTheme.svg");
    opacity: 0.5;
}

.themeSwitcher:hover {
    opacity: 1;
}
/* THEME SWITCHER END */