@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans/static/WorkSans-Light.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Work+Sans:wght@300&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');