// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//main settings menu
$backgroundColorDark: #262631;
$outlineButtonColorDark: #42455e;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$fontMain: RobotoLight;
$fontSecondary: '';

:root {
    --darkSilent: #727375;
    --darkBright: rgb(209, 209, 209);
    --brightMain: #747474;
}
